@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;700&family=Tinos&display=swap');

// colors
$body-bg: #FFFBEB !default;
$body-color: #041E42 !default;
$link-color: #003B70 !default;
$selection-bg: #4B9461 !default;
$presentation-heading-color: #041E42 !default;
.slide-number span {
  color: #1D5949;
}

// font
$presentation-heading-font: "Tinos", inter-tight !default;
div {
  font-family: "Tinos", inter-tight !important;
}

// code blocks
$code-block-border-color: #93a1a1 !default;

/*-- scss:rules --*/

html * {
  color-profile: sRGB;
  rendering-intent: auto;
}

.reveal .footer {
 color: #1D5949 !important;
}