// colors
$body-bg: #FFFBEB !default;
$body-color: #041E42 !default;
$link-color: #003B70 !default;
$selection-bg: #4B9461 !default;
.slide-number span {
  color: #1D5949;
}



// headings
$presentation-heading-font: "Montserrat", sans-serif !default;
$presentation-heading-color: #041E42 !default;




// code blocks
$code-block-border-color: #93a1a1 !default;



/*-- scss:rules --*/

html * {
  color-profile: sRGB;
  rendering-intent: auto;
}

.reveal .footer {
 color: #1D5949 !important;
}